.slider {
  .card {
    flex: 0 0 calc(33.333% - 15px); // Căn chỉnh kích thước của các slide (3 cột)
    margin: 8px; // Khoảng cách giữa các slide
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    .card-top {
      overflow: hidden;
      background: no-repeat;
      background-size: cover;
      img {
        width: 240px;
        height: 200px;
        opacity: 1;
        border-radius: 10px;
        margin: auto;
      }

      h3 {
        width: 100%;
        padding: 8px;
      }
    }
  }
  .slick-slide {
    padding: 0 10px;
  }
}
