.product-detail__reviews {
  .product-detail__write-review {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa theo chiều dọc */
    text-align: center; /* Căn giữa nội dung văn bản */

    .product-detail__write-review-title {
      font-size: 18px;
      margin-bottom: 10px;
      margin-left: 150px;
    }

    .product-detail__write-review-description {
      color: red;
      font-size: 0.8rem;
      margin-bottom: 20px;
      text-align: center;
      margin-left: 150px;
    }

    .product-detail__form {
      width: 100%; /* Đảm bảo form rộng 100% */
      max-width: 600px; /* Giới hạn chiều rộng của form */
      display: flex;
      flex-direction: column;
      align-items: center; /* Căn giữa các phần tử form theo chiều ngang */

      .product-detail__form-item {
        width: 100%;
        margin-bottom: 15px;

        label {
          font-weight: bold;
        }

        .ant-input,
        .ant-input-textarea {
          width: 100%;
        }

        .ant-rate {
          font-size: 24px;
        }
      }

      .product-detail__submit-button {
        width: 150px;
        float: right;
      }
    }
  }

  .product-detail__existing-reviews {
    &-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .ant-list-item-extra {
      img {
        max-width: 150px;
      }
    }
  }
}
