.purchase-history-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .purchase-history-card {
    width: 800px;
    margin: auto;

    .purchase-history-title {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }
}
