.edit-profile {
  &__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__form {
    .edit-profile__input {
      margin-bottom: 10px;
      width: 100%;
    }

    .edit-profile__gender-section,
    .edit-profile__dob-section {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      span {
        margin-right: 10px;
      }

      .ant-radio-group {
        display: flex;
        align-items: center;
      }
    }
  }
}
