.profile-wrapper {
  height: 100vh;
}

.profile-card {
  width: 400px;
  text-align: center;
  padding: 20px;

  .avatar-container {
    position: relative;
    cursor: pointer;
    display: inline-block;

    .profile-avatar {
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }

    .upload-text {
      display: none; // Ẩn chữ "Upload"
    }
  }

  .upload-icon {
    font-size: 10px;
  }

  .profile-title {
    margin-top: 10px;
    font-size: 24px;
  }

  .ant-btn {
    margin-top: 10px;
    width: 100%;
  }

  .ant-card-head {
    border-bottom: none;
    padding: 0;
    background-color: transparent;
  }

  .ant-card-body {
    padding: 0;
  }
}
